
.App {
    margin: 10px;
  }
  .searchDiv {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
  }

  .shInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 11px auto auto auto;
    overflow: hidden;
    padding: 10px;
    outline: none;
    border-radius: 3px;
    border: 2px solid;
    border-image: linear-gradient(90deg, rgb(5 125 168) 18%, rgba(9,38,121,1) 30%, rgba(7,55,155,1) 48%, rgba(4,112,197,1) 65%, rgba(2,144,224,1) 79%, rgb(34 98 207) 87%);
    border-image-slice: 1;
}
  